// $primary: #56b9e0;
// $primary-variant: #d0f0f0;
// $surface: #202a43;
// $secondary: #39557a;
// $tertiary: #4c75a1;
// $bg: #15192a;
// // $bg: #202a43;
// $text-body: #d0f0f0;
// colours
$satin-deep-black: #1d1f20;
$princess-blue-feather: #d0f0f0;
$shipmate: #80aacb;
$blue-triumph: #4c75a1;
$dark-blue: #39557a;
$blue-whale: #202a43;
$dark-knight: #15192a;

$trapped-darkeness: #0d182f;
$stone-cold: #585858;
$cascade-twighlight: #20469c;
$caribbean-blue: #56b9df;
$bleu-ciel: #34739e;
$gentle-cold: #cceaec;
$forget-me-not: #3a83bb;
$naval-night: #0e203c;
$dark-eclipse: #112845;
$rubylicious: #c63361;
$spicy-berry: #b74061;
$noble-black: #202223;
$lead: #222222;
$lead-darker: #212121;
$lead-blue: #202122;
$porcelain: #dcdcdc;
$placebo: #e6e6e6;
$silver-fish: #8a8ea2;
$shadow: #0000001a;

// maybevain
$fugitive-flamingo: #dd6da4; //primary
$dark: #1b202b; //bg
$ephemeral-blue: #cdd5df; // text
$java: #509594; // secondary
$sea-serpent: #73c5c7;
$peppy-peacock: #75cec4;
$blue-bay: #6c93da;
$pan-purple: #7476d8;
$magenta-memoir: #a759a4;
$kirby: #c44b8a;
$pinky: #e78db2;

// Green triad
$tanager-turquoise: #95DBE5FF;
$teal-blue: #078282FF;
$kelly-green: #339E66FF;

// Blue tetriad
$deep-blue: #2460A7FF;
$northern-sky: #85B3D1FF;
$baby-blue: #B3C7D6FF;
$coffee: #D9B48FFF;

$desert-sand: #DBBEA1FF;
$burnished-brown: #A37B73FF;
$old-burgundy: #3E282BFF;
$mystic: #D34F73FF;

/* Default theme */
:root {
  --bg: #{$dark};
  --surface: #{$burnished-brown};
  --primary: #{$fugitive-flamingo};
  --primary-variant: #{$pinky};
  --secondary: #{$mystic};
  --secondary-variant: #{$mystic};
  --text: #{$ephemeral-blue};

  // --shadow: #{$shadow};
  // --border: #{$stone-cold};
  // --code: #d81b60;
  // --preformatted: #444;
  // --marked: #ffdd33;
  // --disabled: #efefef;
}

/* Dark theme */
// @media (prefers-color-scheme: dark) {
//   :root {
//     color-scheme: dark;
//     --bg: #212121;
//     --accent-bg: #2b2b2b;
//     --text: #dcdcdc;
//     --text-light: #ababab;
//     --accent: #d81b60;
//     // --code: #f06292;
//     // --preformatted: #ccc;
//     // --disabled: #111;
//   }
//   /* Add a bit of transparency so light media isn't so glaring in dark mode */
//   img,
//   video {
//     opacity: 0.8;
//   }
// }

$gradients: (
    vain: linear-gradient(90deg,#4fd1c5,#667eea 50%,#d53f8c),
    moonlight: linear-gradient(95deg, #062835, #031820, #062835, #75523c, #e0ad5c, #75523c, #062835, #031820, #062835),
    moonlight-warm: radial-gradient(circle at top left, #ffcd99, #ffcd84, #e0ad5c 2%, #a37a52 4%, #182a34 9%, #001721 14%, #00151f 15%, #011b26,  #031820, #001721, #001a28, #011b26, #001721, #001a28, #011b26, #000 ),
);
