{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {{- macros_seo::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<div>
  {% set_global notes = [] %}
  {%- set root = get_section(path='_index.md') %}
  {%- for sect in root.subsections %}
    {%- set sub = get_section(path=sect) %}
    {%- if sub.extra.note  %}
    {% set_global notes = notes | concat(with=sub.pages) %}
    {%- endif %}
  {%- endfor %}
  {%- for note in notes | sort(attribute="date") | reverse %}
      {{- macros::note_display(note=note) }}
  {%- endfor %}

</div>
{%- endblock content %}

