{% extends "base.html" %}

{%- block seo %}
  {{- super() }}

  {%- set created_time = page.date %}
  {%- set updated_time = page.updated %}

  {{- macros_seo::seo(config=config, title=title, title_addition=title_addition, description=description, type="article", is_page=true, created_time=created_time, updated_time=updated_time) }}
{%- endblock seo %}

{%- block content %}
  <article>
  <h1>{{ page.title }}</h1>
  {%- if not page.disable_meta %}
  {{- macros::page_meta(page=page) }}
  {%- endif %}

  {{ page.content | safe }}

  {%- block page_footer %}
  {{- macros::page_footer(page=page) }}
  {%- endblock page_footer %}
  </article>
{%- endblock content %}
