@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-background-1;
    @apply text-text-1;
    @apply font-sans;
  }
  .markdown-content {
    hr { @apply bg-gradient-vain border-0 h-1 rounded mt-1; }
    h1:not(:first-child) { @apply mt-16; }
    h1 { @apply text-4xl; }
    h2 { @apply text-3xl mt-12; }
    h3 { @apply text-2xl mt-4; }
    h4 { @apply text-xl mt-4; }
    h5 { @apply text-xl mt-4; }
    h6 { @apply text-xl mt-4; }
    em, strong { font-size: inherit; }
    * { @apply text-lg; }
    a { @apply url; }
    p { @apply my-4 /* font-serif */; }
    ol { @apply list-decimal list-inside space-y-1 mt-4 mb-4; }
    ul {
      @apply list-disc list-inside space-y-1 mt-4 mb-4;
      > li {
        /* @apply indent-2; */
      }
    }
    ul ul, ul ol, ol ol, ol ul { @apply ps-4; }
    img {
      /* Add style attribute to images:
     * background-image: url(img/img-lowres.jpg); */
      font-style: italic;
      background-size: cover;
      background-repeat: no-repeat;
      shape-margin: 1rem;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .resume-content {
    hr { @apply bg-gradient-vain border-0 h-1 rounded mt-1; }
    h1:not(:first-child) { @apply mt-16; }
    h1 { @apply text-4xl; }
    h2 { @apply text-3xl mt-12; }
    h3 { @apply text-2xl mt-4; }
    h4 { @apply text-xl mt-4; }
    h5 { @apply text-xl mt-4; }
    h6 { @apply text-xl mt-4; }
    em, strong { font-size: inherit; }
    * { @apply text-lg; }
    a { @apply url; }
    p { @apply my-4 /* font-serif */; }
    ol { @apply list-decimal space-y-1 mt-4 mb-4 ps-5; }
    ul { @apply list-disc space-y-1 mt-4 mb-4 ps-5; }

    #experience ~ h4[id^="technologies"]:not(#education ~ h4[id^="technologies"]) {
      + ul {
      @apply flex flex-row list-none space-y-0 gap-4 flex-wrap mt-2 ps-0;
      > li { @apply border rounded-full py-0 px-4 border-[#73bacd] bg-[#22515e] text-[#73bacd];}
      }
    }

    #bachelor-of-computer-science + p {
      @apply text-xl leading-loose;
    > strong { @apply whitespace-nowrap border rounded-md py-1 px-2 border-[#71add1] bg-[#204961] text-[#71add1]; }
    }
    #certificates ~ ul:not(#projects ~ ul) {
      @apply flex flex-col gap-4 ps-0;
      > li {
        @apply list-none text-xl border rounded-xl py-2 px-4 border-[#71add1] bg-[#204961] text-[#71add1];
      }
    }

    #experience ~ h3:not(#education ~ h3) {
      /* ~ ul li { */
      /*     @apply ps-8 -indent-8; */
      /* } */
      /* ~ ul li::first-line { */
          /* @apply indent-0; */
      /* } */
    }
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .url {
    @apply text-primary-1 hover:text-primary-2 hover:underline;
    @apply focus:text-primary-2 focus:underline;
  }
  .url-active {
    @apply text-primary-2 underline;
  }
  .bg-gradient-vain {
    @apply bg-gradient-to-r from-[#4fd1c5] via-[#667eea] to-[#d53f8c];
  }
  .text-gradient-vain {
    @apply text-gradient;
    @apply bg-gradient-vain;
  }
  .w-main {
    @apply w-full md:w-[768px];
  }
}
  /* @keyframes fade-in { from { opacity: 0; } } */
  /* @keyframes fade-out { to { opacity: 0; } } */
  /* @keyframes slide-up { */
  /*   0% { transform:translateY(0); } */
  /*   50% { transform:translateY(-100%); } */
  /*   100% { transform:translateY(-100%); } */
  /* } */
  /* @keyframes bounce-down { */
  /*   from, to { transform: scale(1, 1); } */
  /*   0% { transform:translateY(-100%); } */
  /*   40% { transform:translateY(-100%); } */
  /*   60% { transform:translateY(5%); } */
  /*   60% { transform: scale(1.010, 0.990); } */
  /*   70% { transform:translateY(-5%); } */
  /*   70% { transform: scale(0.990, 1.010); } */
  /*   80% { transform:translateY(1%); } */
  /*   80% { transform: scale(1.003, 0.997); } */
  /*   90% { transform:translateY(-1%); } */
  /*   90% { transform: scale(0.997, 1.003); } */
  /*   100% { transform:translateY(0); } */
  /* } */
  /* ::view-transition-old(bounce) { */
  /* animation: slide-up 700ms ease; */
  /* } */
  /* ::view-transition-new(bounce) { */
  /* animation: bounce-down 700ms ease; */
  /* } */
  /* .bounce { */
  /* view-transition-name: bounce; */
  /* } */
